@model IEnumerable<CarbonProject.Models.EFModels.RBAC.Role>
@{
    ViewData["Title"] = "Login";
}

<h2>角色列表</h2>
<table class="table">
    <thead>
        <tr>
            <th>角色名稱</th>
            <th>描述</th>
            <th>動作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.RoleName</td>
                <td>@role.Description</td>
                <td>
                    <a asp-action="RolePermissions" asp-route-roleId="@role.RoleId">查看權限</a>
                </td>
            </tr>
        }
        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index1">TestDashboard</a>
    </tbody>
</table>