@model CarbonProject.Controllers.DashboardController.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="position-relative" style="overflow: visible;">
    <iframe src="https://terra-carbon-web-a7hgb9auhkb3gmej.southeastasia-01.azurewebsites.net/Dashboard/CarbonCalculator"
            class="position-absolute"
            style="
                  top: -140px;       /* 往上超出 200px */
                  left: -310px;      /* 往左超出 300px */
                  width: 100vw;      /* 寬度比視窗大 */
                  height: 100vh;     /* 高度比視窗大 */
                  transform: scale(1);   /* 放大整個畫面 */
                  transform-origin: top left;
                  border: none;
                  z-index: 50;
    ">
    </iframe>
</div>