@{
    Layout = "_LayoutDashboard";
    var role = Context.Session.GetString("Roles");
}

<h3>公司用戶儀表板-@role</h3>

@if (role.Contains("Manager"))
{
    <partial name="Partials/_CompanyManagerPanel" />
}
else if (role.Contains("Staff"))
{
    <partial name="Partials/_CompanyStaffPanel" />
}