@{
    Layout = "_LayoutDashboard";
}

<div class="user-dashboard">
    <h3>使用者儀表板</h3>
    <ul>
        <li><a href="/User/Profile">個人資料</a></li>
        <li><a href="/User/Records">我的紀錄</a></li>
        <li><a href="/User/Settings">帳號設定</a></li>
    </ul>
</div>