USE [CarbonProject]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2025/10/5 下午 07:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[Birthday] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[ProfileImage] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[EmailConfirmed] [bit] NULL,
	[PhoneConfirmed] [bit] NULL,
	[MembershipLevel] [nvarchar](20) NULL,
	[Points] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[LastLoginAt] [datetime] NULL,
	[FailedLoginAttempts] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [PhoneConfirmed]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ('Normal') FOR [MembershipLevel]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='F' OR [Gender]='M'))
GO
