@model CarbonProject.Models.ChangePasswordViewModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "修改密碼";
}

<h2>修改密碼</h2>

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" class="form-control" type="password" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">修改密碼</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">取消</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
