<div class="company-staff-panel">
    <h4>員工面板</h4>
    <ul>
        <li><a href="/Company/Tasks">我的任務</a></li>
        <li><a href="/Company/MyReports">我提交的報告</a></li>
        <li><a href="/Company/Profile">個人資料設定</a></li>
    </ul>
</div>