<div class="company-manager-panel">
    <h4>公司管理員面板</h4>
    <ul>
        <li><a href="/Company/Info">公司資料</a></li>
        <li><a href="/Company/Employees">員工管理</a></li>
        <li><a href="/Company/Reports">報表與分析</a></li>
    </ul>
</div>